
	@font-face {
    font-family: HelveticaNueue-UltraLight;
    src: url(../fonts/HelveticaNeue-UltraLight.otf);
	}
	@font-face{
	font-family: HelveticaNueue-Light;
	src: url(../fonts/HelveticaNeue-Light.ttf);
	}
	@font-face{
	font-family: HelveticaNeue-LightItalic;
	src: url(../fonts/HelveticaNeue-LightItalic.ttf);
	font-style: italic;
}
body {
background-color: #f5f5f5;
margin: 0;
padding: 0;
}
h1{
color: #ebd7d7;
font: 100px HelveticaNueue-UltraLight, sans-serif;
position: relative;
margin: 0 auto;
}

.todo-board {
position: relative;
margin: 0 auto;
width: 560px;
height: 410px;
background-color: #ffffff;
}
.todos-list {
font: 24px HelveticaNueue-Light, sans-serif;
}
.todo-item {
height: 64px;
}
.todo-item-text{
left: 60px;
font-size: 24px;
margin: 60 auto;
}
.todo-creator{
height: 64px;
}
.todo-text-input {
	font: 24px HelveticaNeue-LightItalic, sans-serif;
}
.todos-toolbar {
	justify-content: space-between;
}